$primary-color: #998675;
$secondary-color: #fff;
$pressed-color: #756557;
$primary-color2: #c7b299;
$showed-color: #736356;

.header {
    max-width: 1920px;
    min-height: 1024px;
    background-image: url("../img/header-bg-image.png");
    background-size: cover;
    // position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;

    &-logo {
        text-decoration: none;

        @if $debug==1 {
            border: 1px solid lightgreen;
        }

        display: flex;
        align-items: center;

        &-img {
            fill: $secondary-color;
        }

        &-name {
            text-transform: capitalize;
            color: $secondary-color;
            font-family: Raleway;
            font-size: 34px;
            font-weight: 400;

            @if $debug==1 {
                border: 1px solid lightgreen;
            }
        }

        &:hover &-img {
            fill: $primary-color;
        }

        &:hover &-name {
            color: $primary-color;
        }
    }

    &-menu {
        font-family: Montserrat;
        color: $secondary-color;
        font-size: 14px;
        font-weight: 300;
        max-width: 700px;

        @if $debug==1 {
            border: 1px solid lightgreen;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            min-width: 100%;
            list-style: none;

            @if $debug==1 {
                border: 1px solid lightcyan;
            }

            padding: 0;

            &_item {
                padding: 8px 15px 8px 15px;

                @if $debug==1 {
                    border: 1px solid lightseagreen;
                }

                & a {
                    text-decoration: none;
                    text-transform: capitalize;
                    font-family: Montserrat;
                    color: $secondary-color;
                    font-size: 14px;
                    font-weight: 300;

                    &:hover {
                        color: $primary-color2;
                    }

                    &:active {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    &-cart {
        width: 24px;
        height: 24px;

        @if $debug==1 {
            border: 1px solid lightgreen;
        }

        margin: 14px;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;

        & svg {
            fill: $secondary-color;
            margin: 0 auto;
        }

        &:hover svg {
            fill: $primary-color2;
        }

        &:active svg {
            fill: $primary-color;
        }
    }

    &-search {
        width: 24px;
        height: 24px;

        @if $debug==1 {
            border: 1px solid lightgreen;
        }

        margin: 14px;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;

        & svg {
            fill: $secondary-color;
            margin: 0 auto;
        }

        &:hover svg {
            fill: $primary-color2;
        }

        &:active svg {
            fill: $primary-color;
        }
    }

    &-slogan {
        @if $debug==1 {
            border: 1px solid lightcoral;
        }

        min-width: 100%;
        max-width: 100%;
        color: $secondary-color;
        font-family: Raleway;

        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;

        &-caption-above {
            font-size: 36px;
            font-weight: 500;
            display: block;
            text-align: center;
            padding: 7px;

            @if $debug==1 {
                border: 1px solid lightgoldenrodyellow;
            }
        }

        &-caption-below {
            @if $debug==1 {
                border: 1px solid lightcyan;
            }

            font-size: 52px;
            font-weight: 700;
            text-align: center;
            display: block;
            padding: 7px;
        }

        &-text {
            padding: 12px;
            margin: 0;

            @if $debug==1 {
                border: 1px solid lightgreen;
            }

            font-family: Montserrat;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            max-width: 600px;
        }

        &-button {
            margin: 40px;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            max-width: 170px;
            min-width: 170px;
            border-radius: 3px;
            background-color: $primary-color;
            color: $secondary-color;
            font-size: 14px;
            font-weight: 700;
            line-height: 50px;
            text-align: center;
            box-shadow: 0 3px $showed-color;

            &:hover {
                background-color: $primary-color2;
            }

            &:active {
                background-color: $pressed-color;
                box-shadow: 0 3px $primary-color;
            }
        }
    }

    &-pages {}

    &-arrow-left {
        display: none;
    }

    &-arrow-right {
        display: none;
    }

    // }


}